<!DOCTYPE html>
<html>
    <head>
        <title>NOW - 홈</title>
        <link rel="stylesheet" href="./CSS/index.css">
    </head>
    <body>
        <%=nickname%>님 안녕하세요
        
    </body>
</html>