<!DOCTYPE html>
<html>
    <head>
        <title>NOW - 홈</title>
        <link rel="stylesheet" href="./CSS/home.css">
    </head>
    <body>
       
        <div class="home">
            <div class="home_top">
                <div class="home_home">
                    <a href="/home">
                        <img src="./img/logo.jpg" alt="logo">
                    </a>
                </div>
                <div class="home_board">
                    <a href="/board">게시판</a>
                </div>
                <div class="home_profile">
                    <a href="/profile"><%=nickname%>님</a>
                </div>
                <a href="/profile">
                    <img src="https://cdn.zeplin.io/609baf49911d5b01a5433e14/assets/377AF66A-5D06-421D-9A8A-CFA8DD52822C.svg" alt="">                
                </a>
            </div>
            <hr class="home_line">
            <p class="home_text1">찜목록</p>
            
            <table id="board_table">
                <tr>
                </tr>
            
            <%if(bookmark_title.length>0){%>
                <%for(var i = 0; i < bookmark_title.length; i++){%>
                    <tr>
                        <td>
                            <form action="/post" method="post">
                                <input type="submit" name="post_title" id="post_title" class="post_title" value="<%=bookmark_title[i].title %>">
                            </form>
                        </td>
                    </tr>
                    
                <%}%>
            <%}else{%>
                <p>찜하신 게시판이 없어요~</p>
            <%}%>
        </table>

            
                   
            
            
        </div>
        
        
    </body>
</html>