<!DOCTYPE html>
<html>
    <head>
        <title>NOW - 마이페이지 수정</title>
        <link rel="stylesheet" href="./CSS/signup.css">
    </head>
    <body>
        <div class="signup">
            <a href="/home" style="background-color: white;" class="aa">
                <img src="../img/logo.jpg" alt="logo" width="390px">
            </a>
                <p style="text-align: left; margin-top: 20px; font-size: 40px; text-decoration: 2px underline;">프로필 수정</p>
                <br>
            <form action="/mypage" method="POST">
                <div class="form-group">
                    <input type="text" name="intro_name" id="intro_name" class="form-field" placeholder="<%=mypage[0].intro_name%>">
                </div>
                <div class="form-group">
                    <textarea rows="4" cols="30" class="form-field" type="text" placeholder="<%=mypage[0].intro%>" name="intro" id="intro"
                    style="width: 100%; height: 200px; resize: none;"></textarea>
                </div>
                <button type="submit">수정</button>
            </form>
                
            
            
            
            
        </div>
        
    </body>
    
</html>