<!DOCTYPE html>
<html>
    <head>
        <title>NOW - 게시글</title>
        <link rel="stylesheet" type="text/css" href="../public/CSS/home.css">
    </head>
    <body>
       
        <div class="home">
            <div class="home_top">
                <div class="home_home">
                    <a href="/home">
                        <img src="../public/img/logo.jpg" alt="logo">
                    </a>
                </div>
                <div class="home_board">
                    <a href="/newpost">게시글 추가</a>
                </div>
                
                <div class="home_profile">
                    <a href="/profile"><%=nickname%>님</a>
                </div>
                <a href="/profile">
                    <img src="https://cdn.zeplin.io/609baf49911d5b01a5433e14/assets/377AF66A-5D06-421D-9A8A-CFA8DD52822C.svg" alt="">                
                </a>
            </div>
            <form action="/post/search" method="POST" class="search_form">
                <input type="search" name="search_title" id="search_title" placeholder="게시글 검색하기">
                <button class="search_title_btn">
                    <img src="https://cdn.zeplin.io/609baf49911d5b01a5433e14/assets/708AD9EF-5103-4B13-AEFD-1ED002F7D2FA.svg" alt="" class="btnimg">
                </button>
            </form>
            <hr class="home_line">
            
            <div class="home_board">
                
                <%=title%> 
                <%=content%> 
                
            </div>
            
            
        </div>
        
        
    </body>
</html>