<!DOCTYPE html>
<html>
    <head>
        <title>NOW - 프로필</title>
        <link rel="stylesheet" type="text/css" href="../public/CSS/signup.css">
    </head>
    <body>
        <div class="signup">
            <a href="/home" style="background-color: white;" class="aa">
                <img src="../img/logo.jpg" alt="logo" width="390px">
            </a>
            <br>
            <br>

            <form action="/profile/edit_pw" method="get">
                
                <div class="form-group">
                    <span style="white-space: nowrap;">닉네임</span>
                    <input value="<%=profile[0].nickname%>" class="form-field" type="text" name="post_title" id="post_title" readonly>
                </div>
                <button type="submit">비밀번호 변경</button>
            </form>
            <form action="/mypage" method="GET">
                <button type="submit" style="background-color: #0d6efd;">마이 페이지</button>
            </form>
            
            <br>
            
            

            
            
        </div>
        
            
            
           
               
                
                
              
                
                
         
           
        
        
    </body>
</html>