*{
    margin: 0;
}

.home{
 
    top: 0;
    width: auto;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    height: auto;
}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}


.home_top{
    background-color: #fff;
    height: 100px;
    display: flex;
    width: auto;
    margin-top: 20px;
    border-radius: 5px;
}
.home_top > a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
   
}
.home_home > a>img{
    
    height: 100px;
}

.home_home{
    margin-left: 20px;
}
.home_board{
    margin-top: 20px;
    margin-left: 40px;
  
}

#board_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  
  #board_table td, #board_table th {
    border: none;
    padding: 8px;
   
  }
 
  #board_table td:nth-child(2){
      width: 150px;
     
  }
 
#board_table td:nth-child(2):hover{
    border-bottom: 1px solid #0d6efd;
   
}

 
  #board_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ef952c;
    color: white;
    
  }
  #board_table td{
    border-bottom: 1px solid #ddd;
    
  }
  
  .post_title{
      cursor: pointer;
      text-decoration: none;
      color: #0d6efd;
      border: none;
      font-weight: 700;
      font-size: 15px;
      width: 150px;
      background-color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
  }
.silsigan_post{
    height: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    
}

.silsigan_post td, .silsigan_post th {
    border: none;
    padding: 8px;
  }
.silsigan_post th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ef952c;
    color: white;
}
.silsigan_post td{
    border-bottom: 1px solid #ddd;
    width: 400px;
}
.silsigan_post td:hover{
    
    border-bottom: 1px solid #0d6efd;
}
 .silsigan{
    cursor: pointer;
    text-decoration: none;
    color: #0d6efd;
    border: none;
    font-weight: 900;
    width: 200px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    
 }

.home_board > a{
    text-decoration: none;
    color: #ef952c;
    font-weight: 700;
    font-size: 50px;
}
.home_profile{
    margin-top: 20px;
    margin-left: 40px;
}
.home_profile >a {
    text-decoration: none;
    color: #ef952c;
    font-weight: 700;
    font-size: 50px;
    margin-right: 20px;
}
.home_top > a{
    display: none;
    
}
.home_text1{
    margin-left: 40px;
    margin-top: 30px;
    color: #ef952c;
    font-weight: 700;
    font-size: 30px;
}
.home_line{
    margin-top: 20px;
    border: 1px solid #a5a5a5;
   
}

#search_title{
    margin-left: 20px;
    border: 2px solid #ef952c;
    outline: 2px solid #ef952c;
    height: 40px;
    font-size: 20px;
}
.search_title_btn{
    border: none;
    height: 44px;
    cursor: pointer;
    background-color: #fff;
    margin-left: 5px;
    
    
}
.post_text{
    font-size: 20px;
    margin-bottom: 20px;
    color: #ef952c;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.search_title_btn > img{
    width: 20px;
}
.search_form{
    margin-top: 25px;
}

@media (max-width: 800px){
    .home_top{
        justify-content: space-evenly;
    }
    .home_home > a>img{
        margin-top: 10px;
        height: 70px;
    }
    .home_board > a{
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
      
    }
    .home_board{
        margin-top: 30px;
    }
    
    .home_profile >a {
        text-decoration: none;
        color: #ef952c;
        font-weight: 700;
        font-size: 50px;
        display: none;
    }
    .home_top >a{
        display: block;
        margin-right: 20px;
        width: 60px;
        margin-top: 30px;

    }
    .home_line{
        margin-top: 10px;
        border: 1px solid #a5a5a5;
       
    }
}