:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
  }
  *{
      margin: 0;
  }
nav{
    background-color: #678EFE;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    list-style: none;
    margin-left: 20px;
}
.content > li{
    margin-right: 20px;
    margin-top: 7px;
}
.home{
    display: flex;
}

#logout{
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #fff;
    cursor: pointer;
    background-color: #678EFE;
}

#logout:hover{
    background-color: #fff;
      color: #678EFE;
}